#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 90%;
  height: 80vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;

}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper2 {
  width: 90%;
  height: 30vh;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* first nav */


.fimg2{
  height: 20px;
  width: 20px;
}

.fimg3{
  height: 20px;
  width: 25px;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* second nacv  */

.minilogod{
 position: relative;
 left: 600px;
}
.icons{
  position: relative;
  left: 870px;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* zooming effect */
.zoom:hover{
  zoom: 120%;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* new arrival image  */
.newimg{
 margin-left: 80px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* thirdswiper */
.thirdswiper{
  border: 1px solid lightgray;
  margin-top: 20px;
  height: 60vh;
}
.swiper3 {
  width: 90%;
  height: 70vh;
  background-repeat: no-repeat;
  
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* top pics  */
.btn1{
  border-radius: 30px;
  padding: 3px 10px 3px 10px ;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* skin care  */
.skin{
  height: 100px;
  margin-top: 25px;
}
.pri{
  margin-top: -60px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* big images  */

.wraper{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.parent{
  width: 50%;
  margin: 20px;
  height: 500px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 4px 6px white;
}
.child{
  height: 100%;
  width: 96%;
  background-size: 500px;
  transition: all 1.1s;
  background-repeat: no-repeat;
}

.bg-one{
background-image: url(https://miniso.pk/cdn/shop/files/5455_cd3ce003-f312-49cd-ac80-9d10fa23fdf3_720x.png?v=1684826172);
}

.bg-tow{
background-image: url(https://miniso.pk/cdn/shop/files/Untitled-15_720x.png?v=1684827976);
}

.parent:hover .child{
  transform: scale(1.2);
}

.toys{
  background-color: white;
  height: 100px;
  width: 250px;
  position: absolute;
  top: 400px;
  left: 130px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 550 ;
}
.shop{
  height: 30px;
  width: 100px;
  background-color: red;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500 ;
}
.shop:hover{
  background-color: #000;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.fimg{
  height: 40px;
}
 
.email{
  height: 40px;
  width: 360px;
  background-color: white;
  border: 1px solid red;
  border-radius: 0px;
  display: flex;
  align-items: center;
  color: lightslategray;
  padding-left: 20px;
}
.sub{
  height: 40px;
  width: 100px;
  font-size: 12px;
  background-color: #e70d1e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;

}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* last nav  */
.red{
  background-color: #e70d1e;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.life{
  margin-left: 440px;
  margin-top: 10px;
}

.human{
  margin-left: 370px;
}
.human2{
  margin-left: 390px;
}
.human3{
  margin-left: 440px;
}

.life2{
  margin-left: 110px;
  margin-top: 10px;
}
.life3{
  margin-left: 85px;
  margin-top: 10px;
}
.life4{
  margin-left: 35px;
  margin-top: 10px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* category cards images  */


.fm1{
  margin-top: 50px;
}
.mr{
  margin-right: 120px;
}
.woman{
  height: 40px;
  width: 200px;
  background-color: #ee5561;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  left: 40px;
  top: 250px;
  color: white;
  opacity: 0.85;
}
.wraper2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  
  
}

.parent2{
  width: 98%;
  margin: 20px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.child2{
  height: 100%;
  width: 100%;
  background-size: 275px 300px;
  transition: all 0.5s;
  background-color: #000;
}

.parent2:hover .child2{
  transform: scale(1.1);
}







.i1{
  background-image: url(https://miniso.pk/cdn/shop/collections/Bags_New_Home_Banner_Desktop_300x.jpg?v=1700636579);
}

.i2{
  background-image: url(https://miniso.pk/cdn/shop/collections/2008121812104_x1_48feac1f-55d3-468a-a05d-11e8401bfa3b_300x.jpg?v=1690460319);
}

.i3{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019162000_300x.png?v=1692276184);
}

.i4{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019162014_300x.png?v=1700636558);
}

.i5{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019162005_300x.png?v=1690460461);
}

.i6{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019162017_300x.png?v=1700636620);
}

.i7{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019161953_300x.png?v=1700636818);
}

.i8{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019162012_300x.png?v=1700636638);
}

.i9{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019162003_300x.png?v=1692273824);
}

.i10{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019162019_300x.png?v=1700636532);
}

.i11{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019161934_300x.png?v=1700636660);
}

.i12{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019162007_300x.png?v=1700636870);
}

.i13{
  background-image: url(https://miniso.pk/cdn/shop/collections/123123_300x.jpg?v=1692275559);
}

.i14{
  background-image: url(https://miniso.pk/cdn/shop/collections/WeChat_Image_20201019161958_300x.png?v=1700636683);
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* loyalty */
.gimg{
  background-image: url(https://miniso.pk/cdn/shop/files/loyaltyheader132-min_tJng.png?v=1696845594);
  height: 2200px;
  width: 100%;
  opacity: 0.85;
  background-position: center;
  background-size: cover;
  
}
.gimg2{
  opacity: 1.5;

}

.lona{
  list-style-type: none;
  gap: 30px;
  color: white;
  font-size: 18px;
  margin-left: 240px;
  opacity: 0.95;
  margin-top: 55px;
}

.loy:hover{
color: red;
}

.clr1:hover{
  color: red;
}
.clr2:hover{
  color: red;
}
.clr3:hover{
  color: red;
}
.clr4:hover{
  color: red;
}
.clr5:hover{
  color: red;
}


.loy{
  text-align: center;
  margin-top: 200px;
  font-size: 80px;
  color: white;
}
.regis{
  text-align: center;
  gap: 30px;
  margin-left: 280px;
  color: white;
  font-size: 25px;
  margin-top: 30px;
}
.join{
  margin-top: 20px;
  height: 50px;
  width: 150px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: red;
  margin-left: 450px;
  border-radius: 5px;
}
.gift{
  margin-left: 100px;
}
.point{
  font-size: 40px;
  color: red;
  text-align: center;
}
.poinp{
  text-align: center;
  font-size: 16px;
  color: white;
}
.star{
  margin-left: 480px;
}
.bg-one1{
  background-image: url(https://cdn.shopify.com/s/files/1/0500/8539/6644/files/goldthumb_EWOa.png?v=1696851520646);
}
.bg-tow2{
  background-image: url(https://cdn.shopify.com/s/files/1/0500/8539/6644/files/platthum_xobI.png?v=1696851690653);
}
.wrapergold{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.parentgold{
  width: 50%;
  margin: 20px;
  height: 370px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.childgold{
  height: 100%;
  width: 96%;
  background-size: 500px;
  transition: all 1.1s;
  background-repeat: no-repeat;
}
.parentgold:hover .childgold{
  transform: scale(1.1);
}
.gold{
  height: 140px;
  width: 250px;
  position: absolute;
  top: 210px;
  left: 0px;
  z-index: 2;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  font-weight: 550 ;
}
.silver{
  height: 30px;
  width: 100px;
  background-color: red;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500 ;
}
.regi1{
 color: red;
 font-size: 18px;
}
.tier{
  color: red;
  font-size: 30px;
}
.joi{
  height: 50px;
  width: 150px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: -20px;
}

.joinnow{
  margin-top: 100px;
}


.j1{
  color: red;
  font-size: 35px;
}

.disco{
  font-size: 15px;
}
.panda{
  margin-top: -100px;
}
.mainpanda{
  margin-bottom: 200px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* media query */

/* start */

@media screen and (max-width:500px) {
  .minisologo{
height: 200px;
width: 200px;
  }
  .mySwipermain{
    height: 120px;
  }
  .swiper2{
    height: 50px;
    margin-top: 15px;
  }
  .newbanar{
    height: 80px;
    width: 370px;
    margin-left: -58px;
  }
}

